body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111111;
    user-select: none;
    background-color: #FF851B;
}

.container {
    position: relative;
    top: 20px;
    left: 450px;
    width: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-container {
    margin: 10px;
}

.width-input {
    width: 50px;
    outline: none;
    border: none;
}

.height-container {
    margin: 10px;
}

.height-input {
    width: 50px;
    outline: none;
    border: none;
}

.btn-container {
    margin: 30px;
}

button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background-color: #111111;
    color: #FF851B;
}

button:hover {
    cursor: pointer;
}

.shapes {
    background-color: #111111;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.feedback1, .feedback2, .feedback3 {
    display: none;
    color: red;
}

.show {
    display: block;
}